controller_manager:
  ros__parameters:
    update_rate: 50

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController
    
    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

arm_controller:
  ros__parameters:
    joints:
      - arm_joint0
      - arm_joint1
      - arm_joint2
      - arm_joint3

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity
    
    open_loop_control: false
    allow_nonzero_velocity_at_goal: true
    state_publish_rate: 100.0
    action_monitor_rate: 50.0

    claim_timeout: 0.5
    
    # constraints:
    #   stopped_velocity_tolerance: 0.02
    #   goal_time: 1.0
    #   arm_joint0:
    #     trajectory: 0.1
    #     goal: 0.05
    #   arm_joint1:
    #     trajectory: 0.1  
    #     goal: 0.05
    #   arm_joint2:
    #     trajectory: 0.1
    #     goal: 0.05
    #   arm_joint3:
    #     trajectory: 0.1
    #     goal: 0.05

joint_state_broadcaster:
  ros__parameters:
    joints: 
      - base_front_left_wheel_joint
      - base_back_left_wheel_joint
      - base_back_right_wheel_joint
      - base_front_right_wheel_joint
      
      - arm_joint0
      - arm_joint1
      - arm_joint2
      - arm_joint3

diff_drive_controller:
  ros__parameters:
    wheels_per_side: 2

    left_wheel_names: ["base_front_left_wheel_joint", "base_back_left_wheel_joint"]
    right_wheel_names: ["base_front_right_wheel_joint", "base_back_right_wheel_joint"]

    wheel_separation: 0.45
    wheel_radius: 0.1

    odom_frame_id: "odom"
    base_frame_id: "base_footprint"

    pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.001]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.001]

    enable_odom_tf: true
    publish_rate: 50.0

    linear.x.has_velocity_limits: true
    linear.x.max_velocity: 1.0
    linear.x.min_velocity: -1.0
    angular.z.has_velocity_limits: true
    angular.z.max_velocity: 1.0
    angular.z.min_velocity: -1.0
